.bg-red{
    background-color: red;
}

.bg-dashboard{
    background-color: #f9f9f9;
}

.header-control {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header-search {
    width: 213px;
    margin: 0 7px 0 0;
    border-radius: 6px;
    height: 40px;
    border: 1px solid #d9d9d9;
}

.ant-dropdown-placement-bottomRight{
  width: 300px;
  margin-top: 2rem;
}

.logo{
  margin-bottom: 4rem;
}
 
.menu-sidebar > ul > li{
  margin-bottom: 1rem;
}